.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: $m-size;
    margin-top: 100px;
    @media (min-width: $desktop-breakpoint) {
        flex-direction: row;
        margin-bottom: $l-size;
    }
}

.input-group__item {
    margin-bottom: $s-size;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    @media (min-width: $desktop-breakpoint) {
        margin: 0 $s-size 0 0;
    }
}

.search_img {
    position: absolute;
    width: 25px;
    right: 14px;
    filter: invert(100%);
    
}